* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

p{
    text-align: center;
}

.col3{
    border-right: 3px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
}

.col4{
    border-left: 3px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.col6{
    border-right: 3px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
}

.col7{
    border-left: 3px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.row3{
    border-bottom: 3px black solid;
    border-top: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;
}

.col4{
    border-left: 3px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}